{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product_display.css' %}">
    <title>Customer Registration Page | Simple E-Commerce</title>
</head>
<body>
 <h1><a href="{% url 'accounts:main_menu' %}"><img src="{% static 'img/back.png' %}" alt="rocket basket Icon" style="height: 30px; width: 30px;"></a>Rocket Basket: Shop Fast, Ship Faster - Customer Registration</h1>
    <form method="post" class="form-container">
    {% csrf_token %}
        <div class="form-left input">
            <div>
                {{ form.customer_name.label_tag }}
                {{ form.customer_name }}
                {% if form.customer_name.errors %}
                    <div class="error">{{ form.customer_name.errors }}</div>
                {% endif %}
            </div>
            <div>
                {{ form.contact_no.label_tag }}
                {{ form.contact_no }}
                {% if form.contact_no.errors %}
                    <div class="error">{{ form.contact_no.errors }}</div>
                {% endif %}
            </div>
            <div>
                {{ form.address.label_tag }}
                {{ form.address }}
                {% if form.address.errors %}
                    <div class="error">{{ form.address.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="form-right input">
            <div>
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            <div>
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>
            <div>
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>

            <div class="form-group">
                <label for="terms">By clicking "SUBMIT", you agree with the <a href="{% url 'accounts:terms_and_conditions'%}" target="_blank">Terms and Conditions</a>.</label>
            </div>

            <div class="submit-button">
            <button type="submit">SUBMIT</button>
            </div>
        </div> {% comment %}end of form right{% endcomment %}

</form>
 {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<p>Selling products? Register as a <a href="{% url 'accounts:seller_register'%}">SELLER</a> instead.</p>
</body>
</html>