{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Customer Profile Page | Simple E-Commerce</title>
</head>
<body>
 <h1>Rocket Basket: Shop Fast, Ship Faster - Customer Profile</h1>
    <form method="post" class="form-container">
    {% csrf_token %}
        {{ form.as_p }}
        {{ password_form.as_p }}
    <input type="submit" value="Save">
</form>
    <a href="{% url 'accounts:logout' %}">Logout</a>
</body>
</html>