{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_menu.css' %}">
<title>Customer Home Page</title>
</head>
<body>

<header class="header">
    <h1><img src="{% static 'img/basket.png' %}" alt="BasketLogo" class="icon">Rocket Basket: Shop Fast, Ship Faster <img src="{% static 'img/Rockettt.png' %}" alt="RocketLogo" class="icon"><img src="{% static 'img/basket.png' %}" alt="RocketLogo" class="icon">      <img id="myImage" src="{% static 'img/account_icon.png' %}" alt="Image" style="width:50px"></h1>


    <div id="myPopup" class="popup">
        <div class="popup-content">
            <span class="close">&times;</span>
            <div class="popup-links">
                <a class="popup-link" href="{% url 'accounts:customer_profile' %}">See Profile</a>
                <a class="popup-link" href="{% url 'accounts:login' %}">Logout</a>
            </div>
        </div>
    </div>
<script>
// Get the modal
var modal = document.getElementById("myPopup");

// Get the image and insert it inside the modal
var img = document.getElementById("myImage");
img.onclick = function(){
 modal.style.display = "block";
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
 modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
    <h4>Hi, {{ request.user.customer.customer_name }}. Happy Shopping!</h4>
</header>



  <main class="content">
    <form method="get" action="{% url 'accounts:customer_homepage' %}">
        <div class="search-box">
            <label>
                <input type="text" class="search-input" placeholder="Search" name="query">
            </label>
            <button type="submit" class="search-button">Search</button>
        </div>
        {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
    <br>
    {% comment %}</form>
    <div class="filter-box">
        <form method="get">
            <label for="category">Category:</label>
            <select name="category" id="category">
                <option value="">All</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == form.category.value %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Filter</button>
        </form>{% endcomment %}


        <div class="product-grid">
            {% for product in products %}
                <div class="card-container">
                    <img class="product-image" src="{{ product.image.url }}" alt="{{ product.ProductName }}">
                    <h3>{{ product.ProductName }}</h3>
                    <p>{{ product.Description }}</p>
                    <p class="price">Price: ${{ product.PricePerUnit }}</p>
                    {% comment %}<p>Quantity: {{ product.Quantity }}</p>{% endcomment %}
                    <form method="post" action="{% url 'cart:add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.ProductID }}">
                        <input type="submit" value="Add to Cart">
                    </form>

<form method="get" action="{% url 'products:checkout' product.ProductID %}">
    <label for="quantity-{{ product.ProductID }}"></label><input type="number" id="quantity-{{ product.ProductID }}" name="quantity" value="1" min="1" max="5">
    <button type="button" onclick="increaseQuantity({{ product.ProductID }}, {{ product.PricePerUnit }})">+</button>
    <button type="button" onclick="decreaseQuantity({{ product.ProductID }}, {{ product.PricePerUnit }})">-</button>
    <input type="submit" value="Buy">
</form>
                <script>
function increaseQuantity(productId, pricePerUnit) {
    var quantityInput = document.getElementById('quantity-' + productId);
    quantityInput.value = parseInt(quantityInput.value) + 1;
}

function decreaseQuantity(productId, pricePerUnit) {
    var quantityInput = document.getElementById('quantity-' + productId);
    if (quantityInput.value > 1) {
        quantityInput.value = parseInt(quantityInput.value) - 1;
    }
}
</script>
                </div>
            {% endfor %}
        </div> <!-- End of product-grid -->

    </form>
  <script>
function increaseQuantity(productId, pricePerUnit) {
    var quantityInput = document.getElementById('quantity-' + productId);
    if (quantityInput.value < 5) {
        quantityInput.value = parseInt(quantityInput.value) + 1;
    }
}

function decreaseQuantity(productId, pricePerUnit) {
    var quantityInput = document.getElementById('quantity-' + productId);
    if (quantityInput.value > 1) {
        quantityInput.value = parseInt(quantityInput.value) - 1;
    }
}
</script>
  </main>



</body>
</html>