{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Seller - Profile Information Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/seller_profile.css' %}">
    
</head>

<body>
    <p class="header-text">
        <a href="{% url 'accounts:main_menu' %}"><img src="{% static 'img/back.png' %}" alt="back icon" class="icon-back"></a>
        Rocket Basket: Shop Fast, Ship Faster - Seller Profile
{% comment %}        <span class="additional-icons">
            <img src="{% static 'img/Rockettt.png' %}" alt="Rocket Icon" class="icon-rocket">
            <a href="{% url 'cart:cart' %}">
                <img src="{% static 'img/basket.png' %}" alt="rocket basket Icon" class="icon-basket">
            </a>
        </span>{% endcomment %}
    </p>
    <div class="container">

    <div class="container-profile container-sm-6 container-12">
        <div class="left-side">
            <div class="profile-icon">
                <img src="{% static 'img/profile.png' %}" alt="Profile Icon">
            </div>
            <form>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" id="name" name="full_name" value="{{ seller.seller_name }}" disabled>
                </div>
                <div class="form-group">
                  <label for="contact-number">Contact Number</label>
                  <input type="text" id="contact-number" name="contact_number" value="{{ seller.contact_no }}" disabled>
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <input type="text" id="address" name="address" value="{{ seller.address }}" disabled>
                </div>
              </form>
        </div>

        <div class="right-side">
            <div class="recent-activity">
                <h2 class="recent">RECENT ACTIVITY</h2>
                <div class="recent-activity-container">
                   <div>
                        <p class="activity-title">Added in your stall:</p>
                        <div class="gallery-container">
                            {% for product in recent_products %}
                                <div class="gallery-item">
                                    <img src="{{ product.image.url }}" alt="item-image" class="item-image" >
                                    <div class="item-details">
                                        <p>{{ product.ProductName }}</p>
                                        <p>Price: ${{ product.PricePerUnit }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>


                     <a href="{% url 'products:add_product' %}" class="action-link1">Add another product to Sell</a> 
                        <br> 
                   <a href="{% url 'delivery:seller_updateorderstatus' %}" class="action-link2">Update Order Status (Delivery)</a>
                    </div>


                    <div>
                        <p class="activity-title">Best Seller:</p>
                        <div class="gallery-container">
                            <div class="gallery-item">
                                <img src="https://mydiamond.com.ph/cdn/shop/products/MD02228_MD02926_600x.jpg?v=1589514281" alt="item-image" class="item-image">
                                <div class="item-details">
                                    <p>Diamond Bracelet</p>
                                    <p>Price: $299</p>
                                </div>
                            </div>
                            <div class="gallery-item">
                                <img src="https://www.thewatchcompany.com/media/tm_blog/p/o/7/1322/post_7_1322.jpg" alt="item-image" class="item-image">
                                <div class="item-details">
                                    <p>Chronograph Watch</p>
                                    <p>Price: $199</p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="more-link">From Cart to Checkout (More)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Buttons container -->
    <div class="buttons-container">
        <!-- Edit Profile button -->
        <div class="edit-profile-container">
            <a class="edit-profile-btn" href="{% url 'accounts:seller_updateregpage' %}">
                EDIT PROFILE
                <img src="{% static 'img/pencil.png' %}" alt="Edit Icon" class="pencil">
            </a>
        </div>
        <!-- Logout button -->
                <div class="logout-container">
                          <a class="logout-btn" href="{% url 'accounts:logout' %}">
                LOGOUT
                <img src="{% static 'img/logout.png' %}" alt="Logout Icon" class="logout icon">
            </a>
        </div>

    </div>
    </div>
</body>
</html>