{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
     <title>Seller - Profile Information Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/seller_profile.css' %}">
    <title>Customer Profile</title>
</head>

<body>
      <p style="text-align:left; margin-left:320px;padding-right: 1px; font-size:25px"><a href="{% url 'accounts:seller_homepage' %}"><img src="{% static 'img/back.png' %}" alt="rocket basket Icon" style="height: 30px; width: 30px;"></a>           Rocket Basket: Shop Fast, Ship Faster - Seller Profile
        <span class="additional-icons"><img src="{% static 'img/rocket.png' %}" alt="Rocket Icon" class="rocket">
            <img src="{% static 'img/basket.png' %}" alt="rocket basket Icon" class="basket"></span>
    </p>
      <div class="container">

    <div class="container-profile">
        <div class="left-side">
            <div class="profile-icon">
                <img src="{% static 'img/profile.png' %}" alt="Profile Icon">
            </div>
            <form>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" id="name" name="full_name" value="{{ seller.seller_name }}" disabled>
                </div>
                <div class="form-group">
                  <label for="contact-number">Contact Number</label>
                  <input type="text" id="contact-number" name="contact_number" value="{{ seller.contact_no }}" disabled>
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <input type="text" id="address" name="address" value="{{ seller.address }}" disabled>
                </div>
              </form>
        </div>

        <div class="right-side">
            <div class="recent-activity">
                <h2 class="recent">RECENT ACTIVITY</h2>
                <div class="recent-activity-container">
                   <div>
                        <p style="font-size:20px">Added in your stall:</p>
                        <div class="gallery-container">
                            {% for product in recent_products %}
                                <div class="gallery-item">
                                    <img src="{{ product.image.url }}" alt="item-image" style="height: 200px;" >
                                    <div class="item-details">
                                        <p>{{ product.ProductName }}</p>
                                        <p>Price: ${{ product.PricePerUnit }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <a href="{% url 'products:add_product' %}" style="display: block; margin-top: 10px;">Don't Be Shy, Peek Inside (Add More Products)</a>
                    </div>
                    <div>
                        <p style="font-size:20px">Best Seller:</p>
                        <div class="gallery-container">
                            <div class="gallery-item">
                                <img src="https://mydiamond.com.ph/cdn/shop/products/MD02228_MD02926_600x.jpg?v=1589514281" alt="item-image" style="height: 200px;">
                                <div class="item-details">
                                    <p>Diamond Bracelet</p>
                                    <p>Price: $299</p>
                                </div>
                            </div>
                            <div class="gallery-item">
                                <img src="https://www.thewatchcompany.com/media/tm_blog/p/o/7/1322/post_7_1322.jpg" alt="item-image" style="height: 200px;">
                                <div class="item-details">
                                    <p>Chronograph Watch</p>
                                    <p>Price: $199</p>
                                </div>
                            </div>
                        </div>
                        <a href="#" style="display: block; margin-top: 10px;">From Cart to Checkout (More)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Buttons container -->
    <div class="buttons-container">
        <!-- Edit Profile button -->
        <div class="edit-profile-container">
            <a class="edit-profile-btn" href="{% url 'accounts:seller_updateregpage' %}">
                EDIT PROFILE
                <img src="{% static 'img/pencil.png' %}" alt="Edit Icon" class="pencil">
            </a>
        </div>
        <!-- Logout button -->
                <div class="logout-container">
                          <a class="logout-btn" href="{% url 'accounts:logout' %}">
                LOGOUT
                <img src="{% static 'img/logout.png' %}" alt="Logout Icon" class="logout icon">
            </a>
        </div>

    </div>
    </div>
</body>
</html>