{% load static %}

<!DOCTYPE html>
<html lang="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'css/seller_updateregpage.css' %}">
<head>
  <title>Customer - Update Registration Page </title>
     <script>
        function validateForm() {
            var newPassword = document.getElementById("new_password").value;
            var confirmPassword = document.getElementById("confirm_password").value;

            if ((newPassword && !confirmPassword) || (!newPassword && confirmPassword)) {
                alert("Both New Password and Confirm New Password fields must be filled.");
                return false;
            }

            if (newPassword !== confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }

            return true;
        }

        function togglePasswordVisibility(fieldId) {
            var passwordField = document.getElementById(fieldId);
            if (passwordField.type === "password") {
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        }
        </script>
</head>
<body>
  <div class="container">
    <div class="header">
      <p><a href="{% url 'accounts:seller_profile' %}">
            <img src="{% static 'img/back.png' %}" alt="back icon" class="back-icon" style="width: 30px; height: 35px;">
        </a>Rocket Basket: Shop Fast, Ship Faster - Seller Information Update </p>
    </div>
    <form method="POST" onsubmit="return validateForm();">
        {% csrf_token %}
      <div class="form-container">
          <div class="form-group">
              <label for="stallname">Stall Name</label>
              <input type="text" id="stallname" name="stall_name" value="{{ seller.stall_name }}" required>
            </div>

           <div class="form-group">
          <label for="username">Username</label>
         <input type="text" id="username" name="username" value="{{ form.username.value }}" readonly>
        </div>

           <div class="form-group">
                <label for="sellername">Seller Name</label>
                <input type="text" id="sellername" name="seller_name" value="{{ seller.seller_name }}" required>
            </div>

            <div class="form-group">
                <label for="old_password">Old Password</label>
                <input type="password" id="old_password" name="old_password"  required>
            </div>

        <div class="form-group">
            <label for="contact_no">Contact Number</label>
            <input type="text" id="contact_no" name="contact_no" value="{{ seller.contact_no }}" required>
        </div>

          <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" id="new_password" name="new_password">
            <button type="button" onclick="togglePasswordVisibility('new_password');">Show Password</button>
        </div>


        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" id="address" name="address" value="{{ seller.address }}" required>
        </div>


       <div class="form-group">
            <label for="confirm_password">Confirm New Password</label>
            <input type="password" id="confirm_password" name="confirm_password">
            <button type="button" onclick="togglePasswordVisibility('confirm_password');">Show Password</button>
        </div>
      </div>
               <div style="text-align: center;">
            <p> Please enter your old password to confirm the changes </p>
            <button type="submit" class="submit" href="{% url 'accounts:seller_profile' %}"    >
                UPDATE
                <img src="{% static 'img/smiley.png' %}" alt="update Icon" class="smile-icon">
            </button>

        </div>
        <div class="delete-btn" style="text-align: center;">
            <p> I don’t wanna use the platform anymore, I would like to
                <a class="delete" href="{% url 'accounts:deactivate_account' %}"
                   onclick="return confirm('Are you sure you want to deactivate your account? ' +
                    'To reactivate it, you can click the link or visit the reactivation page.');"> DEACTIVATE </a> my account.
            </p>
        </div>
    </form>
  </div>
</body>
</html>