{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Seller Registration Page | Simple E-Commerce</title>
</head>
<body>
 <h1>Rocket Basket: Shop Fast, Ship Faster - Seller Registration</h1>
    <form method="post" class="form-container">
    {% csrf_token %}
        <div class="form-left input">
            <div>
                {{ form.stall_name.label_tag }}
                {{ form.stall_name }}
            </div>
            <div>
                {{ form.seller_name.label_tag }}
                {{ form.seller_name }}
            </div>
            <div>
                {{ form.contact_no.label_tag }}
                {{ form.contact_no }}
            </div>
            <div>
                {{ form.address.label_tag }}
                {{ form.address }}
            </div>
        </div>

        <div class="form-right input">
            <div>
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div>
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>
            <div>
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>

            <div class="form-group">
                <label for="terms">By clicking "SUBMIT", you agree with the <a href="{% url 'accounts:terms_and_conditions'%}" target="_blank">Terms and Conditions</a>.</label>
            </div>

            <div class="submit-button">
            <button type="submit">SUBMIT</button>
            </div>
        </div> {% comment %}end of form right{% endcomment %}

</form>

 {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<p>Looking for products? Register as a <a href="{% url 'accounts:customer_register'%}">CUSTOMER</a> instead.</p>
</body>
</html>