{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory|Rocket Basket</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/inventory.css' %}">

</head>
<body>
    <h1><a href="{% url 'accounts:main_menu' %}"><img src="{% static 'img/back.png' %}" alt="back Icon" style="height: 30px; width: 30px;"></a>Inventory</h1>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price Per Unit</th>
                <th>In Stock</th>
                <th>Date Added</th>
                <th>Mark as</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        <img src="{{ product.image.url }}" alt="{{ product.ProductName }}" width="50" height="50">
                    </td>
                    <td>{{ product.ProductName }}</td>
                    <td>{{ product.Description }}</td>
                    <td>{{ product.PricePerUnit }}</td>
                    <td>{{ product.Quantity }}</td>
                    <td>{{ product.date_added }}</td>
                    <td>
                        <button id="mark-as-sold-{{ product.id }}">Mark as Sold</button>
                        </td>
                </tr>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $("button[id^='mark-as-sold-']").click(function() {
        var product_id = $(this).attr('id').split('-')[3];
        $.ajax({
            url: '/mark-as-sold/' + product_id + '/',
            method: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                if (data.success) {
                    alert('Product marked as sold and seller notified.');
                } else {
                    alert('An error occurred.');
                }
            }
        });
    });
});
</script>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>