{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rocket Basket | Review Product</title>
    <link rel="stylesheet" href="{% static 'css/review_product.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header class="header">
    <div class="header-content">

        <h1>
            <b>Rocket Basket: Shop Fast, Ship Faster</b> <img src="{% static 'img/Rockettt.png' %}" alt="RocketLogo" class="oh_icon">
            <a href="{% url 'cart:cart' %}"><img src="{% static 'img/basket.png' %}" alt="BasketLogo" class="oh_icon"></a>
            <img id="myImage" src="{% static 'img/account_icon.png' %}" alt="Image" class="profile-icon">
        </h1>

    {% comment %}made the pop up inheritable to reduce redundancy {% endcomment %}
    {% include 'inheritables/popup.html' %}
    </div>
    </header>
        <div class="container">
            <h2>How do you feel about the product that you purchased?</h2>
            <div class="dcard">
                <div class="image-dcard">
                     <img src="{{ product.image.url }}" alt="Product Image">
                </div>
                <div class="text-dcard">
                <H1>{{ product.ProductName }}</H1>
                <br>
                {% if product %}
                <table>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Product Description</th>
                        <td>{{ product.Description }}</td>
                    </tr>
                    <tr>
                        <th>Product Price</th>
                        <td>{{ product.PricePerUnit }}</td>
                    </tr>
                    <tr>
                        <th>Seller</th>
                        <td>{{ product.SellerID.username }}</td>
                    </tr>
                </table>
                    
                {% else %}
                    <p>No product found for this ID.</p>
                {% endif %}
                </div>
            </div>
            <p style="font-size: smaller"><i>Kindly tap the heart if you like your purchase. Thankyou :)</i></p>
            <!-- Add an ID to the heart image -->
            <img id="myHeart" src="{% static 'img/empty_heart.png' %}" class="oh_icon">
            
        </div>

<script>
// Listen for a click event on the heart image
$('#myHeart').click(function() {
    // Check if the current image is the empty heart
    if ($(this).attr('src') === "{% static 'img/empty_heart.png' %}") {
        // Change the image source to the filled heart
        $(this).attr('src', "{% static 'img/heart.png' %}");
    } else {
        // Optionally, revert back to the empty heart if clicked again
        $(this).attr('src', "{% static 'img/empty_heart.png' %}");
    }
});
</script>

</body>
</html>