{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rocket Basket | Review Product</title>
    <link rel="stylesheet" href="{% static 'css/review_product.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header class="header">
    <div class="header-content">

        <h1>
            <b>Rocket Basket: Shop Fast, Ship Faster</b> <img src="{% static 'img/Rockettt.png' %}" alt="RocketLogo" class="oh_icon">
            <a href="{% url 'cart:cart' %}"><img src="{% static 'img/basket.png' %}" alt="BasketLogo" class="oh_icon"></a>
            <img id="myImage" src="{% static 'img/account_icon.png' %}" alt="Image" class="profile-icon">
        </h1>

    {% comment %}made the pop up inheritable to reduce redundancy {% endcomment %}
    {% include 'inheritables/popup.html' %}
    </div>
    </header>
        <div class="container">
            <h2>How do you feel about the product that you purchased?</h2>
            <div class="dcard">
                <div class="image-dcard">
                    <br>
                    <br>
                     <img src="{{ product.image.url }}" alt="Product Image">
                </div>
                <div class="text-dcard">
                <H1>{{ product.ProductName }}</H1>
                {% if product %}
                <table>
                    <tr>
                        <th>Product Description</th>
                        <td>{{ product.Description }}</td>
                    </tr>
                    <tr>
                        <th>Product Price</th>
                        <td>{{ product.PricePerUnit }}</td>
                    </tr>
                    <tr>
                        <th>Seller</th>
                        <td>{{ product.SellerID.username }}</td>
                    </tr>
                </table>

                {% else %}
                    <p>No product found for this ID.</p>
                {% endif %}
                </div>
            </div>
            <p style="font-size: smaller"><i>Kindly tap the heart if you like your purchase. Thankyou :)</i></p>
            <!-- Add an ID to the heart image -->
            <img id="myHeart" src="{% static 'img/empty_heart.png' %}" class="oh_icon"><br><br>
            <a href="{% url 'accounts:main_menu' %}" class="button">Back</a>
            
        </div>

<script>
$('#myHeart').click(function() {
    if ($(this).attr('src') === "{% static 'img/empty_heart.png' %}") {
        $(this).attr('src', "{% static 'img/heart.png' %}");

        $.ajax({
            url: "{% url 'products:add_review' %}",
            method: 'POST',
            data: {
                ProductID: '{{ product.ProductID }}',
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                if (data.success) {
                    console.log('Review added successfully');
                } else {
                    // If a review already exists, display the notification message
                    alert(data.message);
                }
            }
        });
    } else {
        $(this).attr('src', "{% static 'img/empty_heart.png' %}");
    }
});
</script>

</body>
</html>