.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card {
    width: 200px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    width: auto; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    margin: auto;
    display: block;
}

/*.header-content .icon {*/
/*    width: 50px;  !* Set the width of the images *!*/
/*    height: auto; !* This will maintain the aspect ratio *!*/
/*}*/

.icon {
    width: 50px;
}

.logo-button{
    background-size: 30px 30px;
    background-position: 85% center;
    padding-left: 50px;
    width: 200px;
    height: 40px;
    color: #000000; /* Change the color as needed */
    font-size: 16px; /* Change the font size as needed */
    text-align: center;
    padding-right: 20px;
}
#footer-button {
    display: flex;
    justify-content: space-between;
    max-width: 100%; /* Adjust as needed */
    padding: 0 220px; /* Adjust padding as needed */

}