.form-container {
    display: flex;
    justify-content: space-between;
    width: 90%; /* Adjust as needed */
    margin: 50px auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px; /* Adjust as needed */
}

.form-left, .form-middle, .form-right {
    flex: 1;
}

.form-left {
    width: 35%;
    margin-left: 10%;
}

.form-middle {
    width: 35%;
}

.form-right {
    width: 20%;
    margin-right: 10%;
}

.border-box {
    border: 1px solid #000; /* Change color as needed */
    padding: 15px; /* Adjust as needed */
    border-radius: 5px; /* Adjust as needed */
}