body {
    font-family: Arial, sans-serif;
    margin: 0 auto; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    max-width: 90%; /* Adjust as needed */
}

.header {
    text-align: center;
    padding: 5px;
    margin-bottom: 2px;
    background-color: #f8f9fa;
    font-size: 30px;
}

.header-content {
    margin-left: 100px;

}

.header-text {
    text-align: left;
    margin-left: 500px;
    padding-right: 1px;
    font-size: 25px;
}

.back-text{
    text-align: left;
    margin-left: 100px;
    padding-right: 1px;
    font-size: 25px;

}

.icon-back {
    height: 50px;
    width: 50px;
    margin-left: 40px;
}


.rocket_icon {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin-left: 40px;
}

.basket_icon {
  width: 80px; /* Adjust the width as needed */
  height: 80px; /* Adjust the height as needed */
}

.profile-icon {
  width: 50px; /* Adjust the width as needed */
  height: 50px;
  margin-left: 100px; /* Add margin for spacing */
}
/* Pop-up content */
.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Pop-up container */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}




/* Pop-up links */
.popup-links {
    display: flex;
    flex-direction: column; /* for a vertical list */
    gap: 10px; /* space between items */
    align-items: center; /* center items horizontally */
    align-content: center; /* center items vertically */
}

.popup-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 50%; /* make each link take full width of the container */
    text-align: center; /* center the text */
}

.popup-link:hover {
    background-color:darkseagreen;
}

.delivery-option-subtitle {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
}
.delivery-options-container {
    display: flex;
    justify-content: space-between;
}
.delivery-option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative; /* Add this to position the checkbox */
}

.delivery-checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
}
.delivery-option p {
  font-size: 18px;
  margin: 0;
}
.payment-option {
    display: flex;
    margin-left: 395px;
    margin-top: 20px;
}
.back-button {
    padding: 30px 100px;
    background-color: indianred;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
}

.back-button:hover {
    background-color: darkred;
}
.choose-delivery-option {
    /* Add your styles here */
    padding:  20px 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 100px;
    font-size: 25px;
    font-weight: bold;
}

.choose-delivery-option:hover {
    background-color: darkseagreen;
}

.delivery-option-checked {
    background-color: #4CAF50;
}

.card.delivery-option.selected {
    background-color: #007bff !important; /* Change this to the color you want */
    color: white !important; /* Change this to the color you want for the text */
}