body {
    font-family: Arial, sans-serif;
    margin: 0 auto; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    max-width: 90%; /* Adjust as needed */
    text-align: center;
}

.header {
    text-align: center;
    padding: 5px;
    margin-bottom: 2px;
    background-color: #f8f9fa;
    font-size: 30px;
}

.header-content {
    margin-left: 100px;

}

.header-text {
    text-align: left;
    margin-left: 500px;
    padding-right: 1px;
    font-size: 25px;
}

.back-text{
    text-align: left;
    margin-left: 100px;
    padding-right: 1px;
    font-size: 25px;

}

.icon-back {
    height: 50px;
    width: 50px;
    margin-left: 40px;
}


.rocket_icon {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin-left: 40px;
}

.basket_icon {
  width: 80px; /* Adjust the width as needed */
  height: 80px; /* Adjust the height as needed */
}

.profile-icon {
  width: 50px; /* Adjust the width as needed */
  height: 50px;
  margin-left: 100px; /* Add margin for spacing */
}
.payment-option-subtitle {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
}
.payment-options-container {
    display: flex;
    justify-content: space-between;
}
.payment-option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative; /* Add this to position the checkbox */
}

.delivery-checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
}
.delivery-option p {
  font-size: 18px;
  margin: 0;
}

.back-div{
    display: flex;
}

.back-btn {
    padding: 30px 100px;
    background-color: indianred;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
}

.back-btn:hover {
    background-color: darkred;
}