.form-container {
    display: flex;
    justify-content: space-between;
    width: 60%; /* Adjust as needed */
    margin: 50px auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px; /* Adjust as needed */
}

.form-left, .form-right {
    flex: 1;
    width: 45%;
}



.form-left input, .form-right input {
    width: 90%; /* Adjust as needed */
    padding: 10px 15px; /* Adjust as needed */
    margin: 8px 0 16px 0;
    box-sizing: border-box;
    border: 2px solid #ccc; /* Adjust as needed */
    border-radius: 5px; /* Adjust as needed */
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.form-left input:focus, .form-right input:focus {
    border: 3px solid #555;
}


button {
    width: 90%;
    margin: 8px 0 16px 0;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

.form-group label {
    display: inline-block;
    font-family: auto, serif;
    font-size: 10px;
}
.error {
    color: red;
    font-size: 0.8em;
}

.product-grid div {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.20);
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 200px; /* The width of the container */
  height: 270px; /* Adjust the height of the container */
  text-align: center;
}

.card-container h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.card-container p {
  font-size: 0.9rem;
  margin: 5px 0;
}

.card-container .price {
  color: #333;
  font-weight: bold;
  margin: 10px 0;
}

.card-container img {
  width: 100%; /* The image will take the full width of the container */
  height: 150px; /* Set a fixed height for the image */
  object-fit: contain; /* The image will scale while maintaining its aspect ratio */
  border-radius: 5px 5px 0 0;
  margin: auto;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.icon {
    width: 50px; /* Adjust the width as needed */
    height: 50px;
}/* Adjust the height as needed */
.header {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.header-text {
    text-align: left;
    margin-left: 500px;
    padding-right: 1px;
    font-size: 25px;
}

.header-icons {
    position: absolute;
    right: 320px;
    top: 60px;
}

.icon.basket {
    width: 55px;
    height: 55px;
    margin-left: 10px;
}


