{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base_gen.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bgenbody">
    <div class="card">
        <h1>Rocket Basket: Shop Fast, Ship Faster</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% block form %}{% endblock %}
        </form>
        {% block content %}{% endblock %}
        <script>
        {% block script %}{% endblock %}
        </script>
    </div>
</body>
</html>