{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/credit_payment.css' %}">
    {% comment %}copy this one for the header start{% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/basetemplate_payment.css' %}">
    {% comment %}copy this one for the header end{% endcomment %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'css/bootstrap.bundle.min.js' %}"></script>
    <title>Payment Details - Credit Card | Simple E-Commerce</title>
</head>
<body>
    {% csrf_token %}
{% comment %}copy this code below sa body para consistent, ebutang lang asa ang applicable{% endcomment %}
<header class="header mt-3 d-flex flex-column align-items-center">
    <h2 class="d-flex align-items-center">
        <img src="{% static 'img/basket.png' %}" alt="BasketLogo" class="icon me-4">
        Rocket Basket: Shop Fast, Ship Faster
        <img src="{% static 'img/Rockettt.png' %}" alt="RocketLogo" class="icon me-4">
        <img id="myImage" src="{% static 'img/account_icon.png' %}" alt="Image" class="icon me-4" data-bs-toggle="modal" data-bs-target="#myModal">
        {% if request.user.is_authenticated %}
            {% if request.user.is_seller %}
                <a href="{% url 'products:inventory' %}"><img src="{% static 'img/inventory.png' %}" alt="RocketLogo" class="icon me-4"></a>
            {% else %}
                <a href="{% url 'cart:cart' %}"><img src="{% static 'img/AddMoreProduct.png' %}" alt="RocketLogo" class="icon me-4"></a>
            {% endif %}
        {% else %}
            <a href="{% url 'cart:cart' %}"><img src="{% static 'img/AddMoreProduct.png' %}" alt="RocketLogo" class="icon me-4"></a>
        {% endif %}
    </h2>

    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hi {{ request.user.customer.customer_name }}, what you're going to do?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="popup-links">
            {% if request.user.is_authenticated %}
                {% if request.user.is_seller %}
                    <button class="btn btn-primary" onclick="location.href='{% url 'accounts:seller_profile' %}'">See Profile</button>
                    <button class="btn btn-danger" onclick="location.href='{% url 'accounts:logout' %}'">Logout</button>
                {% else %}
                {% endif %}
                    <button class="btn btn-primary" onclick="location.href='{% url 'accounts:customer_profile' %}'">See Profile</button>
                    <button class="btn btn-danger" onclick="location.href='{% url 'accounts:logout' %}'">Logout</button>
            {% else %}
            {% endif %}
                {% comment %}<a class="popup-link" href="{% url 'accounts:login' %}">Login</a>
                <a class="popup-link" href="{% url 'accounts:customer_register' %}">Register</a>{% endcomment %}
        </div>
      </div>
    </div>
  </div>
</div>
{% if request.user.is_authenticated %}
    {% if request.user.is_seller %}
        <h5>Hi, {{ request.user.seller.seller_name }}, Happy Selling!</h5>
    {% else %}
        <h5>Hi, {{ request.user.customer.customer_name }}, Happy Shopping!</h5>
    {% endif %}
{% else %}
    <h6>Shop for 100's of items</h6>
{% endif %}
<h3 class="display-5">Credit / Debit Card</h3>
</header>
    <div>
    <form method="post" class="form-container">
        <div class="form-left input" style="width: 40%;">
            <h3 class="mb-3">Billing Details</h3>
            <div class="col-md-10">
                <label for="full_name" class="form-label">Full Name</label>
                <input type="text" id="full_name" name="full_name" class="form-control" value="{{ request.user.customer.customer_name}}">
                <div class="form-text">Enter your full name</div>
            </div>
            <div class="col-md-10">
                <label for="contact_number" class="form-label">Contact Number</label>
                <input type="text" id="contact_number" name="contact_number" class="form-control" value="{{ request.user.customer.contact_no }}">
                <div class="form-text">Enter your contact number</div>
            </div>
            <div class="col-md-10">
                <label for="address" class="form-label">Address</label>
                <input type="text" id="address" name="address" class="form-control" value="{{ request.user.customer.address }}">
                <div class="form-text">Enter your complete address</div>
            </div>
  {% comment %}          <div>
                <input type="checkbox" id="same_as_billing" name="same_as_billing" class="form-check-input">
                <label for="same_as_billing" class="form-check-inline">Delivery Address is the same as my Billing Address</label>
            </div>{% endcomment %}
        </div>

        <div class="form-middle input" style="width: 40%;">
            <h3 class="mb-3">Credit Card Details</h3>
            <div class="col-md-10">
                <label for="card_name" class="form-label">Name On The Card</label>
                <input type="text" id="card_name" name="card_name" class="form-control">
                <div class="form-text">Name that is printed on your card</div>
            </div>
            <div class="col-md-10">
                <label for="card_number" class="form-label">Credit Card Number</label>
                <input type="text" id="card_number" name="card_number" class="form-control">
                <div class="form-text">CC number as printed on your card</div>
            </div>
            <div class="col-md-10">
                <label for="expiry_date" class="form-label">Expiration</label>
                <input type="text" id="expiry_date" name="expiry_date" class="form-control">
                <div class="form-text">Expiration format: "12/30"</div>
            </div>
            <div class="col-md-10">
                <label for="cvv" class="form-label">CVV</label>
                <input type="text" id="cvv" name="cvv" class="form-control">
                <div class="form-text">3 digit code</div>
            </div>
        </div>
            
        <div class="form-right input col-md-2 border-box">
            <h3 class="mb-3">Summary</h3>
            <div class="mb-2">
                <strong>Subtotal:</strong> {{ subtotal }}
            </div>
            <div class="mb-2">
                <strong>Delivery fee:</strong> {{ delivery_type.DeliveryPrice }}
            </div>
            <hr>
            <div class="mb-2">
                <strong>Total Amount (including VAT):</strong> {{ total_amount }}
                {% comment %}change subtotal{% endcomment %}
            </div>
        </div>
    </form></div><br>
        
        <div id="footer-button">
            <a href="{% url 'transaction:payment_option' %}" class="btn btn-warning btn-lg col-3" role="button">Back to Payment Options</a>
            <a href="{% url 'transaction:confirm_payment' %}" class="btn btn-success btn-lg col-3" role="button">Confirm Payment</a>
        </div>
        
</body>
</html>