{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rocket Basket | OrderHistory</title>
    <link rel="stylesheet" href="{% static 'css/order_history.css' %}">

</head>
<body>
<header class="header">
    <div class="header-content">

        <h1>
            <b>Rocket Basket: Shop Fast, Ship Faster - Order History</b> <img src="{% static 'img/Rockettt.png' %}" alt="RocketLogo" class="oh_icon">
            <img src="{% static 'img/basket.png' %}" alt="BasketLogo" class="oh_icon">
            <img id="myImage" src="{% static 'img/account_icon.png' %}" alt="Image"  class="profile-icon">
        </h1>

    {% comment %}made the pop up inheritable to reduce redundancy {% endcomment %}
    {% include 'inheritables/popup.html' %}
    </div>
</header>
<div class="container">
    <h2>Order History</h2>
    <table>
        <tr>
            <th>ORDER #</th>
            <th>PRODUCT NAME</th>
            <th>QUANTITY</th>
            <th>TOTAL AMOUNT</th>
            <th>DATE PURCHASED</th>
            <th>STATUS</th>
            <th>OPINION?</th>
            <th>CHAT SELLER</th>
        </tr>
       {% for order in order_history %}
    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.ProductID.ProductName }}</td>
        <td>{{ order.QuantityPerProduct }}</td>
        <td>{{ order.TransactionID.TotalPrice }}</td>
        <td>{{ order.DatePurchased }}</td>
        <td id="status-{{ order.id }}" class="{{ order.TransactionID.get_status_display|slugify }}">{{ order.TransactionID.get_status_display }}</td>
        <td>♥</td>
        <td><button>Chat</button></td>
    </tr>
{% endfor %}
    </table>
</div>
</body>
</html>