{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rocket Basket | OrderHistory</title>
    <link rel="stylesheet" href="{% static 'css/order_history.css' %}">

</head>
<body>
<header class="header">
    <div class="header-content">

        <h1>
            <b>Rocket Basket: Shop Fast, Ship Faster - Order History</b> <img src="{% static 'img/Rockettt.png' %}" alt="RocketLogo" class="oh_icon">
            <img src="{% static 'img/basket.png' %}" alt="BasketLogo" class="oh_icon">
            <img id="myImage" src="{% static 'img/account_icon.png' %}" alt="Image"  class="profile-icon">
        </h1>

    {% comment %}made the pop up inheritable to reduce redundancy {% endcomment %}
    {% include 'inheritables/popup.html' %}
    </div>
</header>
<div class="container">
    <h2>Order History</h2>
    <table>
        <tr>
            <th>ORDER #</th>
            <th>PRODUCT NAME</th>
            <th>AMOUNT</th>
            <th>STATUS</th>
            <th>OPINION?</th>
            <th>CHAT SELLER</th>
        </tr>
       {% for order in order_history %}
    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.ProductID.ProductName }}</td>
        {% comment %}
        	please change the quantity to amount here
        {% endcomment %}
        <td>{{ order.QuantityPerProduct }}</td>
        <td>{{ order.DeliveryID.status }}</td>
        <td>
            <a href="{% url 'products:review_product' order.ProductID.ProductID %}">
                {% if order.has_rated %}
                    <img src="{% static 'img/heart.png' %}" alt="RocketBasketLogo" class="oh_icon">
                {% else %}
                    <img src="{% static 'img/leave_a_heart.png' %}" alt="RocketBasketLogo" class="oh_icon">
                {% endif %}
            </a>
        </td>{% comment %}
        	please change the login link to chat seller link here
        {% endcomment %}
        <td><a href="{% url 'accounts:login' %}"><img src="{% static 'img/chat.png' %}" alt="RocketBasketLogo" class="oh_icon"></a></td>
    </tr>
{% endfor %}
    </table>
</div>
</body>
</html>